
{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {% if page.intro %}
        {{ page.intro|richtext }}
    {% endif %}

    <ul>
        {# for post in page.get_children # Sacará todas aunque estén en borrador. #}
        {% for post in page.get_children.live %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ page.get_parent.url }}">Página anterior</a>
{% endblock %}
